@model network_inventory_system.Models.Item

<div class="row">
    <div class="col-md-4 text-center">
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Model.Photo" alt="@Model.Name" class="img-fluid img-thumbnail mb-3" />
        }
        else
        {
            <div class="alert alert-info">No image available</div>
        }
    </div>
    <div class="col-md-8">
        <h4 class="mb-3">@Model.Name</h4>
        <dl class="row">
            <dt class="col-sm-4">Description</dt>
            <dd class="col-sm-8">@Model.Description</dd>

            <dt class="col-sm-4">Serial No</dt>
            <dd class="col-sm-8">@Model.SerialNo</dd>

            <dt class="col-sm-4">Property No</dt>
            <dd class="col-sm-8">@Model.PropertyNo</dd>

            <dt class="col-sm-4">Control No</dt>
            <dd class="col-sm-8">@Model.ControlNo</dd>

            <dt class="col-sm-4">Model</dt>
            <dd class="col-sm-8">@Model.Model</dd>

            <dt class="col-sm-4">Price</dt>
            <dd class="col-sm-8">@Model.Price.ToString("C")</dd>

            <dt class="col-sm-4">Count</dt>
            <dd class="col-sm-8">@Model.Count</dd>

            <dt class="col-sm-4">Date of Purchase</dt>
            <dd class="col-sm-8">@Model.DateOfPurchase.ToString("yyyy-MM-dd")</dd>

            <dt class="col-sm-4">Condition</dt>
            <dd class="col-sm-8">@Model.Condition</dd>

            <dt class="col-sm-4">Status</dt>
            <dd class="col-sm-8">@Model.Status</dd>

            <dt class="col-sm-4">Accountable Officer</dt>
            <dd class="col-sm-8">@Model.AccountableOfficer</dd>

            <dt class="col-sm-4">Category</dt>
            <dd class="col-sm-8">@Model.Category</dd>

            <dt class="col-sm-4">Division</dt>
            <dd class="col-sm-8">@Model.Division</dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-end mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning me-2">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>